
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500);
*{
	padding: 0;
	margin: 0;
	border-box: box-sizing;
}

body{
	background-color: #0B2F3A;
	font-family: Arial, san-serif;
	font-size: 18px;
	text-align: left;
	margin-left: 100px;
	margin-right: 100px;
	height: 100%;
	
}
#mainStage{
	margin-left: 0px;
	background-image: url("images/erinCamera.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
h1{
	color:#CEF6F5;
	background-color: rgba(62,112,127,.8);
	font-style: normal;
	font-weight: 300;
	font-size: 3em;
	padding: .25em;
	font-family: 'Fira Sans', sans-serif;
}
img{
	width: 100%;
	height: 100%;
}
#slogan{
	font-weight: bold;
	font-size: 2em;
	padding-left: .6em;
	padding-top: .5em;
	padding-bottom: .25em;
	text-transform: lowercase;
}

p{
	color:#CEF6F5;
	padding-left: 3em;
	background-color: rgba(62,112,127,.5);
	font-family: 'Merriweather', serif, 300;
}
ul{
	list-style-type: none;
	color:#CEF6F5;
	background-color: rgba(62,112,127,.8);
	padding-left: 4.25em;
	padding-top: 1em;
	padding-bottom: .5em;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	font-size: 1.3em;
}
a{
	color:#CEF6F5;
	text-decoration: none;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
}
a:hover{
	color: #ffffff;
}
