*{
	padding: 0;
	margin: 0;
	border-box: box-sizing;
}
body{
	background-color: rgba(244,244,244, .3);
	font-size: 18px;
	text-align: left;
	font-family: 'Sanchez', serif;
	color: #393D40;
	height: 90%;
}
.logo{
	font-size: 10em;
	font-family: Questrial;
	color: #393D40;
	margin: .5em 0 0 .5em;
	border-bottom: 5px dashed #393D40;

}
.slogan{
	float: left;
	margin-top: 2.9em;
	margin-left: 1.5em;
	font-size: 4em;

}
span{
	color:rgba(115, 123, 127, .5);
}
nav{
	clear: both;
	margin-left: 2.9em;
	font-size: 1.3em;
	
}
ul{
	list-style-type: none;
	color: #393D40;
	padding-left: 3em;
	padding-bottom: .5em;
	float: left;
	text-align: right;
	font-family: 'Sanchez', serif;
	font-size: 1em;
	margin-top: 1em;

}

.navHome{
	color: #393D40;
	text-decoration: none;
	font-family: 'Sanchez', serif;
	border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;
	border-right-color: #393D40;
	padding: .5em;
}
a:hover{
	color: #ACB8BF;
}
.info {
	margin-top: 1em;
	width: 350px;
	text-align: justify;
}
section{
	float: left;
	margin-left: 5em; 
}
.erinImg{
	width: 33.33%
}
div{
	margin-left: 1em;
	float: left; 
	color: #393D40;
	text-decoration: none;
	font-family: 'Sanchez', serif;
}
.work{
	color: #393D40;
	text-decoration: none;
	font-family: 'Sanchez', serif;
	padding: .5em;
}
#websites{
	margin: 1em;

}
#websites img {
	width: 50%;
}
#sketchbook{
	margin: 1em;
	float: left;
}
#photography{
	margin: 1em;
}
#cinema{
	margin: 1em;
}
#fabrics{
	margin: 1em;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
footer{
     clear: both;
	height: 10%;
	background: #737B7F;
}