*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
body{
	background-color: rgba(244,244,244, .3);
	font-size: 18px;
	text-align: left;
	font-family: 'Sanchez', serif;
	color: #393D40;
	height: 90%;
}
header {
	position:fixed;
}
.logo{
	display:block;
	font-size: 10em;
	font-family: 'Questrial', sans-serif;
	color: #393D40;
	margin: 0  0 0 .3em;
	border-bottom: 5px dashed #393D40;
	text-decoration: none;

}
nav{
	font-size: 1.3em;
}
.slogan{
	float: left;
	font-size: 4em;

}
span{
	color:rgba(115, 123, 127, .5);
}
ul{
	list-style-type: none;
	border-right:3px solid #393d40;
	color: #393D40;
	padding: 0 0 0 3em;
	float: left;
	text-align: right;
	font-family: 'Sanchez', serif;
	font-size: 1em;
	margin-top: 1em;

}

.navHome{
	color: #393D40;
	text-decoration: none;
	font-family: 'Sanchez', serif;
	padding: 0 1.4em 0 1em;
}
 a:hover{
	color:rgba(115, 123, 127, .5);
}
.info {
	margin-top: 1em;
	font-size: 1em;
	font-size:1.5em;

}
.myInfo {
	margin-top: 1em;
    width: 350px;
	
}
.monolog {
	padding-top: 6em;
	margin-left: 16em; 
}
.workIt{
		float: left;
		margin-left: 16em; 
		margin-top: 10em;
}
.erinImg{
	display:block;
	margin: -5em auto auto auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 39%;
	position: relative;
	
}
hr{
	border: 2px dashed #393D40;
	width: 100%;
	color: #393D40;
	margin: 0 0 1em 0;
}
div{
	margin-left: 1em;
	float: left; 
	color: #393D40;
	text-decoration: none;
	font-family: 'Sanchez', serif;
}
.contact{
	width: 30%;
	float: left;
	Margin: 5.5em 0 0 15em;
}
.ccMe{
	font-size: 4em;

}
.ccWork{
	font-size: 4em;
	margin: -1.4em 0 0 0;
}
.work{
	color: #393D40;
	text-decoration: none;
	font-family: 'Sanchez', serif;
	padding: .5em;
}
#websites{
	margin: 1em;
	max-width: 33.33%;
	text-align: center;
}
#websites img {
	width: 100%;
}
#sketchbook{
	margin: 1em;
	max-width: 33.33%;
	text-align: center;
}
#sketchbook img {
	width: 100%;
}
#photography{
	margin: 1em;
	max-width: 33.33%;
	text-align: center;
}
#photography img {
	width: 100%;
}
#cinema{
	margin: 1em;
	max-width: 33.33%;
	text-align: center;
}
#cinema img {
	width: 100%;
}
#fabrics{
	margin: 1em;
	max-width: 33.33%;
	text-align: center;
}
#fabrics img {
	width: 100%;
}
.contactLinks{
	color: #393D40;
	text-decoration: none;
	font-family: 'Sanchez', serif;
	font-size: 1.5em;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.sketchIt{
	width: 30%;
	float: left;
	Margin: 11em 0 0 15em;
}
.Fabric {
	width: 30%;
	float: left;
	Margin: 11em 0 0 15em;
	display: inline;
}
.Fabric p {
	float: left;
	width: 350px;
}
.fabImg{
	margin: 0 0 0 -10em;
}
footer{
     clear: both;
	height: 10%;
	background: #737B7F;
}
